.container {
  width: 100%;
  height: 100%;

  position: relative;

  overflow: hidden;
}

@keyframes showMessageForm {
  from {
    top: -100%;
  }

  to {
    top: 0;
  }
}

@keyframes hideMessageForm {
  from {
    top: 0;
  }

  to {
    top: -100%;
  }
}

@keyframes showChatsList {
  from {
    bottom: -100%;
  }

  to {
    bottom: 0;
  }
}
