.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #8e24aa;
}

.auth {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  position: relative;
  width: fit-content;
  max-width: 80vw;
  height: fit-content;
  background: #8e24aa;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
}

.headerName {
  align-self: center;
  color: #ffffff;
}

.authButton {
  width: 100%;
  height: 50px;
  align-self: center;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.authFacebook {
  background: #3b5998;
  color: #ffffff;
}

.authInstagram {
  background: #e95950;
  color: #ffffff;
}

.authVK {
  background: #4c75a3;
  color: #ffffff;
}

.authTwitter {
  background: #1da1f2;
  color: #ffffff;
}

.authFacebook:active {
  background: #30487c;
  color: #ffffff;
}

.authInstagram:active {
  background: #c04a41;
  color: #ffffff;
}

.authVK:active {
  background: #42668f;
  color: #ffffff;
}

.authTwitter:active {
  background: #1683c7;
  color: #ffffff;
}

.authText {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

@media screen and (min-width: 1200px) {
  .authFacebook:hover {
    background: #3b6099;
    color: #ffffff;
  }

  .authInstagram:hover {
    background: #e96050;
    color: #ffffff;
  }

  .authVK:hover {
    background: #4c80a3;
    color: #ffffff;
  }

  .authTwitter:hover {
    background: #1daaf2;
    color: #ffffff;
  }

  .authFacebook:active {
    background: #30487c;
    color: #ffffff;
  }

  .authInstagram:active {
    background: #c04a41;
    color: #ffffff;
  }

  .authVK:active {
    background: #42668f;
    color: #ffffff;
  }

  .authTwitter:active {
    background: #1683c7;
    color: #ffffff;
  }
}
