.item {
    flex: 1 1 10%;

    height: 10vh;

    min-height: 100px;
    max-height: 100px;

    border-bottom: 1px solid grey;
    margin: 5px 1px 1px;
}

.avatar {
    position: relative;
    display: block;
    border-radius: 50px;
    border: 1px solid black;
    align-self: center;
    height: 90%;
    float: left;
}

.message_info {
    position: relative;
    display: block;
    height: 90%;
}

.info {
    position: relative;
    display: block;
    margin: 1px;
    width: 100%;
}

.message {
    position: relative;
    display: block;
    text-overflow: ellipsis;
    width: 100%;
    margin: 20px 1px 1px;
}

.contact_name {
    position: relative;
    display: inline-block;
    font-size: 16px;
    margin: 1px 20px 1px;
}

.time {
    font-size: 14px;
    text-transform: uppercase;
    color: #666666;
    position: absolute;
    right: 0;
}

.msg {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: #666666;
    margin: 1px 20px 1px;
}

.msg_check {
    display: none;
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 7px;
    border-radius: 2.5em;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
}

.msg_check.group {
    display: inline-block;
    background: #ffd54f;
    color: #756124;
}

.msg_check.single {
    display: inline-block;
    background: #8E24AA;
    color: white;
}

.sent {
    display: inline-block;
    fill: #8E24AA;
    position: absolute;
    right: 5px;
    bottom: 5px;
    height: 30px;
    width: 30px;
}

.sent.set {
    display: inline-block;
}

.sent_read {
    display: inline-block;
    fill: #8E24AA;
    position: absolute;
    right: 5px;
    bottom: 5px;
    height: 30px;
    width: 30px;
}

.sent_read.set {
    display: inline-block;
}

@media screen and (max-width: 389px) {
    .item {
        height: 100px;
    }
}

@media screen and (min-width: 390px) and (max-width: 480px) {

    .item {
        height: 100px;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {

    .item {
        height: 100px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    .item {
        height: 100px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {

    .item {
        height: 100px;
    }
}

@media screen and (min-width: 1200px) {

    .item:hover {
        background: #F5F5F5;
        transition: all 0.1s ease-out;
    }
}

.item:active {
    background: #A9A9A9;
    transition: all 0.1s ease-out;
}