.form_input {
  display: flex;
  height: 5vh;

  flex: 1 1 auto;
  border: 1px solid rgba(25, 25, 25, 0.32);
}

.text_input {
  border: 0;
  outline: none;
  width: calc(100% - 2px);
  flex: 1 1 90%;

  resize: none;
  align-items: center;
}

.attach_num {
  flex: 1 1 auto;
  position: absolute;
  right: 5%;
  top: 5%;
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #8e24aa;
  text-align: center;
  color: #fff;
}

.audio_num {
  flex: 1 1 auto;
  position: absolute;
  right: 5%;
  top: 5%;
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #8e24aa;
  text-align: center;
  color: #fff;
}

.file_input {
  display: none;
}

.file_upload_container {
  flex: 1 1 5%;
  display: flex;
  position: relative;
}

.emoji_button_container {
  flex: 1 1 5%;
  display: flex;
  position: relative;
}

.audio_upload_container {
  flex: 1 1 5%;
  display: flex;
  position: relative;
}

.file_upload {
  z-index: 0;
  flex: 1 1 5%;
  fill: rgb(128, 128, 128);
  padding: 10px;
}

.menu {
  display: block;
  list-style: none;
  background: #f6f6f6;
  margin: 0px;
  padding: 2px;
  min-height: 30px;
  position: absolute;
  width: fit-content;

  z-index: 2;
  border: 1px solid #999;
  border-radius: 5px;
}

.menu_item {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  padding: 3px;
  margin: 0px;
  width: 100%;
  justify-content: space-between;
}

.menu_item:active {
  background: #c0c0c0;
  transition: all 0.1s ease-out;
}

.file_upload_image {
  height: 30px;
  width: 30px;
  margin: 2px;
  fill: rgb(128, 128, 128);
}

.file_upload_text {
  margin: 10px;
}

.record {
  z-index: 0;
  flex: 1 1 5%;

  fill: rgb(128, 128, 128);
  padding: 10px;
}

.record:active {
  background: #c0c0c0;
  transition: all 0.1s ease-out;
}

.stop_record {
  z-index: 0;
  flex: 1 1 5%;

  fill: rgb(196, 58, 58);
  padding: 10px;
}

.stop_record:active {
  background: #c0c0c0;
  transition: all 0.1s ease-out;
}

.path {
  transform: rotate(45deg);
  transform-origin: 50% 50%;
}

.path_emoji {
  transform-origin: 50% 50%;
}

.file_upload:active {
  background: #c0c0c0;
  transition: all 0.1s ease-out;
}

:host {
  display: inline-block;
  border: 1px solid rgba(25, 25, 25, 0.32);
}

@media screen and (max-width: 389px) {
  .text_input {
    flex: 1 1 75%;
  }

  .file_upload_container {
    flex: 1 1 25%;
  }

  .emoji_button_container {
    flex: 1 1 20%;
  }

  .file_upload {
    flex: 1 1 20%;
  }

  .audio_upload_container {
    flex: 1 1 20%;
  }

  .menu {
    right: 2%;
    bottom: 60px;
  }

  .record {
    flex: 1 1 20%;
  }

  .stop_record {
    flex: 1 1 20%;
  }

  .form_input {
    min-height: 50px;
  }
}

@media screen and (min-width: 390px) and (max-width: 480px) {
  .text_input {
    flex: 1 1 80%;
  }

  .file_upload_container {
    flex: 1 1 20%;
  }

  .emoji_button_container {
    flex: 1 1 15%;
  }

  .file_upload {
    flex: 1 1 15%;
  }

  .audio_upload_container {
    flex: 1 1 15%;
  }

  .menu {
    right: 2%;
    bottom: 60px;
  }

  .record {
    flex: 1 1 15%;
  }

  .stop_record {
    flex: 1 1 15%;
  }

  .form_input {
    min-height: 50px;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .text_input {
    flex: 1 1 80%;
  }

  .file_upload_container {
    flex: 1 1 15%;
  }

  .emoji_button_container {
    flex: 1 1 15%;
  }

  .file_upload {
    flex: 1 1 15%;
  }

  .audio_upload_container {
    flex: 1 1 15%;
  }

  .menu {
    right: 2%;
    bottom: 60px;
  }

  .record {
    flex: 1 1 15%;
  }

  .stop_record {
    flex: 1 1 15%;
  }

  .form_input {
    min-height: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .text_input {
    flex: 1 1 85%;
  }

  .file_upload_container {
    flex: 1 1 15%;
  }

  .emoji_button_container {
    flex: 1 1 15%;
  }

  .file_upload {
    flex: 1 1 15%;
  }

  .audio_upload_container {
    flex: 1 1 15%;
  }

  .menu {
    right: 2%;
    bottom: 78px;
  }

  .record {
    flex: 1 1 15%;
  }

  .stop_record {
    flex: 1 1 15%;
  }

  .form_input {
    min-height: 50px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .text_input {
    flex: 1 1 80%;
  }

  .file_upload_container {
    flex: 1 1 15%;
  }

  .emoji_button_container {
    flex: 1 1 15%;
  }

  .file_upload {
    flex: 1 1 15%;
  }

  .audio_upload_container {
    flex: 1 1 15%;
  }

  .menu {
    right: 2%;
    bottom: 85px;
  }

  .record {
    flex: 1 1 15%;
  }

  .stop_record {
    flex: 1 1 15%;
  }

  .form_input {
    max-height: 80px;
    min-height: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .file_upload:hover {
    background: #d3d3d3;
    transition: all 0.1s ease-out;
  }

  .file_upload:active {
    background: #c0c0c0;
    transition: all 0.1s ease-out;
  }

  .menu {
    right: 2%;
    bottom: 65px;
  }

  .menu_item:hover {
    background: #d3d3d3;
    transition: all 0.1s ease-out;
  }

  .menu_item:active {
    background: #c0c0c0;
    transition: all 0.1s ease-out;
  }

  .record:hover {
    background: #d3d3d3;
    transition: all 0.1s ease-out;
  }

  .record:active {
    background: #c0c0c0;
    transition: all 0.1s ease-out;
  }

  .stop_record:hover {
    background: #d3d3d3;
    transition: all 0.1s ease-out;
  }

  .stop_record:active {
    background: #c0c0c0;
    transition: all 0.1s ease-out;
  }

  .form_input {
    min-height: 50px;
  }
}
