.uncn_form_input {
  display: flex;
  flex: 1 1 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  z-index: 2;
}

.msg_form_input {
  display: flex;
  flex: 1 1 85%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  z-index: 2;
}

.text_input {
  border: 0;
  border-bottom: 1px solid white;
  outline: none;
  width: 100%;
  margin-top: 2vh;
  height: 6.3vh;
  margin-bottom: 2vh;

  padding: 18px;

  font-size: 20px;
  font-weight: 600;

  color: white;
  background: #8e24aa;
  flex: 1 1 auto;

  resize: none;
  align-items: center;
}

.text_input::placeholder {
  color: white;
}

.results_container {
  flex: 1 1 90%;
  width: 100%;
  border: 1px solid gray;
  height: fit-content;
  max-height: 90vh;
  overflow-y: auto;
  background: white;
}

.divider {
  display: block;
  height: 20px;
  width: 100%;

  color: white;
  background: #8e24aa;
  font-size: 14px;
  font-weight: 600;
}

@media screen and (max-width: 389px) {
  .uncn_form_input {
    flex: 1 1 50%;
    margin: 5px;
  }

  .msg_form_input {
    flex: 1 1 95%;
    margin: 5px;
  }

  .text_input {
    font-size: 12px;
    margin-top: 5px;
    height: 60px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 390px) and (max-width: 480px) {
  .uncn_form_input {
    flex: 1 1 75%;
    margin: 5px;
  }

  .msg_form_input {
    flex: 1 1 90%;
    margin: 5px;
  }

  .text_input {
    font-size: 14px;
    margin-top: 5px;
    height: 60px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .text_input {
    padding: 14px;
    font-size: 20px;

    margin-top: 5px;
    height: 60px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .uncn_form_input {
    flex: 1 1 80%;
    margin: 5px;
  }

  .msg_form_input {
    flex: 1 1 70%;
    margin: 5px;
  }

  .text_input {
    padding: 14px;
    font-size: 20px;

    margin-top: 10px;
    height: 60px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .uncn_form_input {
    flex: 1 1 80%;
    margin: 5px;
  }

  .msg_form_input {
    flex: 1 1 80%;
    margin: 5px;
  }

  .text_input {
    padding: 14px;
    font-size: 20px;

    margin-top: 5px;
    height: 60px;
    margin-bottom: 20px;
  }
}
